extends layout

block content
    h1= HW1
    p Welcome to HW1

    p Append to your URL a '/' and some string, and get the length of the string.

    p If you want to do a post, you have to use postman. The post provides the same functionality,
    p but you have to use x-www-form-urlencoded, providing a key-value pair:
    p key=string, value= the string you want the length of